<%- include('sidebar.ejs') %>
  <%- include('header.ejs') %>


    <div class="main">
      <div class="container">
        <div class="row ms-auto">
          <center>
            <div class="card w-50 bg-flat-color-1" style="height: 310px; margin-top: 100px;">
              <div class="">
                <% if(message1.length> 0){ %>
                  <div class="alert alert-danger">
                    <%= message1 %>
                  </div>
                  <% } %>
                    <form action="/adminchangepassword" method="post" enctype="multipart/form-data">
                      <div class="mt-5">
                        <label class="text-white">Old Password:</label>

                        <input type="text" name="old_password" placeholder="old_password">
                      </div>
                      <div class="mt-5">
                        <label class="text-white">New Paswword:</label>
                        <input type="password" name="new_password" placeholder="new_password">
                      </div>
                      <div class="mt-5">
                        <label class="text-white">Confirm Password:</label>
                        <input type="password" name="cpassword" placeholder="confirm_password">
                      </div>
                      <button class="btn btn-warning text-white mt-3 mb-3">Update</button>
                    </form>
              </div>
            </div>
          </center>
        </div>
      </div>
    </div>

    <%- include('footer.ejs') %>